module.exports = {
    TOKEN : "",
    PREFIX: "",
    CLIENT_ID: "",
    GUILD_ID: "", // ไอดีเจ้าของ
    OWNER_ID: "", // ไอดีเจ้าของ
    YOUTUBE_KRY: "", //Youtube Api Key
    YOUTUBE_USER: "",
    LOG_WEID: '1020611886695321722', //คนเข้า
    LOG_EXID: '1020611886695321722' //คนออก
}